.home-page-ad-container {
  position: relative;
  margin: 12px auto 24px;
  width: 100%;
  max-width: 1224px;
  aspect-ratio: 16/9;
  max-height: 68dvh;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.mySwiperAds{
  width: 100%;
  height: 100%;
}

.mySwiperAds .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ad-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}
.home-page-ad-text-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 12px;
  right: 6px;
  color: white;
  text-align: end;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.home-page-ad-text-container h2,
.home-page-ad-text-container p,
.home-page-ad-text-container button {
  margin-left: 12px;
}
.button-home-page-ad-container {
  margin: 12px 0;
  padding: 4px 8px;
  border-radius: 20px;
  border: none;
  background-color: var(--color1);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 4px;
}

@media(min-width: 425px){
  .home-page-ad-text-container h2,
  .home-page-ad-text-container p,
  .home-page-ad-text-container button {
    margin-left: 24px;
  }
  .button-home-page-ad-container {
    margin: 16px 0;
    /* padding: 8px 16px; */
    /* font-size: 18px; */
  }
}

@media(min-width: 768px){

  .home-page-ad-text-container {
  bottom: 12px;
  right: 12px;
}
}