.header-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 2;
}

.menu-container,
.whatsapp-container{
    font-size: 24px;
}

.logo-img-container {
  height: 100%;
}
.logo-img-container img {
  height: 100%;
}
