.product-card-home-container {
  position: relative;
  display: flex;
  gap: 12px;
  height: 148px;
  padding: 12px;
  margin: 12px;
  box-shadow: 0 0 12px -8px black;
  border-radius: 12px;
  background: #a3c61a;
  background: linear-gradient(
    320deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(248, 255, 219, 0.9) 100%
  );
}
.img-product-card-home-container {
  height: 100%;
}
.img-product-card-home-container img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.text-product-card-home-container button {
  position: absolute;
  bottom: 12px;
  padding: 8px 16px;
  background-color: var(--color1);
  border: none;
  color: white;
  border-radius: 20px;
}
