.product-detail {
  padding-bottom: 60px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-product-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  /* min-height: 300px; */
}

.mySwiper {
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  /* height: 100%; */
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}
.swiper-button-next, .swiper-button-prev {
  color: var(--color2) !important; /* Usa tu color principal */
  transform: scale(0.7); /* Flechas un poco más pequeñas */
}
.swiper-pagination-bullet-active {
  background: var(--color2) !important;
}
.img-product-conainer img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
}
.text-product-container {
  padding: 8px 16px;
}
.text-product-container span {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}
.description-product-details {
  margin: 12px 0;
  font-size: 16px;
  color: var(--text-secondary);
}
.text-product-container ul {
  margin-left: 20px;
  color: var(--text-secondary);
}
.buy-button-product {
  background-color: var(--color2);
  width: 120px;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  margin: 12px auto;
  cursor: pointer;
  border-radius: 12px;
}
