.products-home-page-container {
  width: 100%;
  max-width: 1322px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}
.product-card-home-container {
  width: 280px;
  position: relative;
  display: flex;
  gap: 12px;
  height: 148px;
  padding: 12px;
  box-shadow: inset 0 0 12px -4px black;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
  background-color: #ffffff;
  color: #333
  /* background: #a3c61a;
  background: linear-gradient(
    320deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(248, 255, 219, 0.9) 100%
  ); */
}
.img-product-card-home-container {
  height: 100%;
}
.img-product-card-home-container img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.text-product-card-home-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #002b49
}
.button-text-product-card {
  position: absolute;
  bottom: 0px;
  padding: 4px 8px;
  background-color: var(--color1);
  border: none;
  color: white;
  border-radius: 20px;
}
.button-text-product-card:hover {
  cursor: pointer;
  background-color: var(--color2);
}