html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
  background-color: #1a202c;
  /* overflow-x: hidden; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #113961;
  --color2: #a3c61a;
}

main {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  /* background-color: #d3d3d3; */
}
a {
  color: inherit;
  text-decoration: none;
}
